* {
    box-sizing: border-box;
}
/* html {
    overflow-x: hidden;
} */
body, p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.editor-options button {
    cursor: pointer;
    border: 0;
    padding: 0;
    height: 60px;
}
nav {
    background-color: #ff7f00;
}
.logo img {
    cursor: pointer;
    width: 200px;
}
.main-nav {
    color: white;
    text-transform: capitalize;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-side-nav {
    list-style: none;
    font-size: 19px;
    display: flex;
    justify-content: space-evenly;
}
.nav-item {
    padding: 6px 15px;
}
.nav-item:hover , .nav-item:active {
    color: #040a2c;
}
.nav-item:last-child {
    border-left: 1px solid #8a8a8a;
    padding-right: 0;
}
.second-nav {
    background-color: #fff;
}
.second-nav-content {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-icon {
    margin: 33px 0;
    position: absolute;
    width: 15px;
    height: 15px;
}
.search-input {
    margin: 33px 0;
    border: none;
    width: 145px;
    border-bottom: 1px solid;
    cursor: text;
    position: relative;
}
.key-words-container {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.key-words {
    width: 56vw;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.key-word {
    cursor: pointer;
    padding: 0 20px;
}
button.more {
    cursor: pointer;
    border: none;
    bottom: 0;
    background-color: white;
    padding: 0;
    border-bottom: 1px solid black;
}
#canvas {
    background-color: #fff;
}
.editor-container {
    background-color: #e3e3e3;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
}
.editor-options * {
    font-size: 20px;
    border-radius: 8px;
    width: 373px;
}
.part1 * {
    display: flex;
    justify-content: space-between;
}
.part1 input {
    padding: 10px;
    border: none;
    cursor: text;
    height: 60px;
}
.part1 button {
    margin-top: 10px;
}
.part3, .part2 {
    display: flex;
    justify-content: space-between;
}
.font-input {
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 218px;
}
.part5 div {
    display: flex;
    justify-content: space-between;
}
.editor-options {
    width: 560px;
    height: 550px;
    padding: 0 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
select {
    height: 60px;
}
.icon-img {
    width: 39px;
    height: 38px;
    margin: auto;
}
.icon-btn {
    background-color: #fff;
    width: 60px;
}
.share-btn {
    color: #fff;
    background-color: #ff7f00;
    width: 120px;
}
.carousel {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}
.carousel img {
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.emojies {
    background-color: #fff;
    height: 135px;
}
.imgs-container {
    padding: 25px 45px;
    background-color: #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.img-item {
    padding-bottom: 20px;
    cursor: pointer;
    text-align: center;
    height: 353px;
    width: 373px;
}
.color-input {
    position: relative;
}
#user-stroke-color, #user-txt-color {
    display: none;
}

/*-- footer-- */
footer {
    color: #fff;
    background-color: #ff7f00;
    height: 207px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
small {
    padding: 16px;;
}




@media (max-width: 480px) {
   
    .main-nav, .second-nav-content {
        margin: 0 10px;
    }
    .imgs-container .img-item {
        width: 170px;
        height: 170px;
    }
    .img-item {
        max-width: 330px;
        max-height: 311px;
        margin: 0 auto;
    }
    .img-item:last-child {
        display: none;
    }
    .imgs-container {
        height: 780px;
        padding: 15px 5px;
    }
    .editor-options * {
        font-size: 16px;
        border-radius: 8px;
        width: 329px;
        height: 39px;
    }
    .emojy-selector {
        width: 303px;
        height: 55px;
    }
    .editor-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 650px;
        padding: 0;

    }
    .editor-options {
        padding: 0;
        width: 330px;
        height: 311px;
    }
    .part2 {
        margin-top: 25px;
    }
    #user-text {
        height: 39px;
        width: 329px;
    }
    .icon-img {
        height: 26px;
        width: 26px;
    }
    .font-input {
        width: 171px;
    }
    .icon-btn {
        width: 39px;
    }
    .share-btn {
        width: 120px;
    }
    .canvas-container {
        width: 330px;
        height: 311px;
    }
    #canvas {
        width: 330px;
        height: 311px;
    }
}
