* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    height: 60px;
}

.right-side-nav {
    list-style: none;
    font-size: 19px;
    display: flex;
    justify-content: space-evenly;
}
nav {
    background-color: #ff7f00;
}
.main-nav {
    color: white;
    text-transform: capitalize;
    max-width: 1156px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    padding: 6px 15px;
}
.nav-item:hover , .nav-item:active{
    color: #040a2c;
}
.nav-item:last-child {
    border-left: 1px solid #8a8a8a;
    padding-right: 0;
}
.second-nav {
    height: 85px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.search-icon {
    position: absolut;
    width: 20px;
    height: 20px;
}

.editor-container {
    height: 600px;
    background-color: #e3e3e3;
    padding: 25px 0;
    display: flex;
    /* justify-content: space-between; */
}
.editor-options * {
    font-size: 20px;
    border-radius: 8px;
    width: 373px;
}
.editor-options {
    width: 550px;
    height: 550px;
    margin-right: 55px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.part1, .part2, .part3, .part4 {
    text-align: center;
    
}
input {
    border: none;
    cursor: text;
    height: 60px;
}
.font-input {
    cursor: pointer;
    border: none;
    width: 218px;
}
select {
    height: 60px;
}
.icon-img {
    width: 39px;
    height: 38px;
}
.icon-btn {
    background-color: #fff;
    width: 60px;
}
.share-btn {
    color: #fff;
    background-color: #ff7f00;
    width: 120px;
}
.emojy-selector {
    cursor: pointer;
    border: none;
    height: 135px;
}


.canvas-container {
    width: 90vw;
    height: 70vh;
}
#canvas {
    background-color: #fff;
    margin-left: 55px;
}


.imgs-container {
    height: 932px;
    padding: 25px 45px;
    background-color: #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.img-item {
    cursor: pointer;
    text-align: center;
    height: 278px;
    width: 353px;
    border: 1px solid black;
}


.color-input {
    position: relative;
}

#user-color {
    display: none;
}

/*-- footer-- */
footer {
    color: #fff;
    background-color: #ff7f00;
    height: 207px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
small {
    padding: 16px;;
}








/*-- helpers --*/
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-around {
    justify-content: space-around;
}
.flex-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

.flex-start {
    align-items: start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex .full {
    flex: 1;
}



/* @media (max-width: 900px) {
    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
@media (max-width: 650px) {
    .imgs-container {
        grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    }
    .img-item {
        height: 163px;
    }
} */
